{{ define "title"}}xmaintnote-go demo{{ end }}
{{ define "content" }}
<h1>xmaintnote-go demo</h1>
<p><a href="https://github.com/jda/xmaintnote-go">xmaintnote-go</a>
is a library implementing the draft icalendar standard for maintenance
notifications from the <a href="https://www.facebook.com/groups/maintnote">
Maintenance Notification BCOP</a> project.</p>

<p>
You can use this demo to <a href="/parse">view</a> or <a href="/gen">create</a>
 a ical file containing a maintenance notification.
</p>
{{ end }}
